defaults:
  - _self_
  - preset: none

# Experiment metadata
project_name: d-fine
exp_name: default
base_path: ???

# Paths configuration
paths:
  _target_: d_fine.config.PathConfig
  base_path: ${base_path}
  path_to_save: ${base_path}/output/models/${exp_name}

# Dataset configuration
dataset:
  _target_: d_fine.config.DatasetConfig
  task: detect
  examples_per_epoch: null
  img_config:
    _target_: d_fine.config.ImageConfig
    img_size: [640, 640]
    keep_aspect: false

train:
  _target_: d_fine.config.TrainConfig
  project_name: ${project_name}
  exp_name: ${exp_name}
  paths: ${paths}
  dataset: ${dataset}
  
  # Model setup
  model_name: s
  pretrained_dataset: coco
  
  # Training hardware & speed
  device: cuda
  num_workers: 12
  amp_enabled: true
  cudnn_fixed: false
  
  # Training schedule
  epochs: 55
  batch_size: 8
  b_accum_steps: 1
  early_stopping: 0
  seed: 42
  
  # Inference & Evaluation
  conf_thresh: 0.5
  iou_thresh: 0.5
  num_top_queries: 300
  decision_metrics: [f1, mAP_50]
  
  # Loss parameters
  use_focal_loss: true
  mask_batch_size: 1000
  
  # Optimization parameters
  clip_max_norm: 0.1
  weight_decay: 0.000125
  betas: [0.9, 0.999]
  label_smoothing: 0.0
  cycler_pct_start: 0.1
  
  # EMA & Logging
  use_ema: true
  ema_momentum: 0.9998
  logger: wandb
  
  # Visualization frequencies
  visualize_eval: 5
  visualize_training: 5
  visualize_loader: 5
